body{
	background-image: url(../img/brooke-large.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#formulario{
	margin: 15%;
	border-radius: 7px;
	padding: 5%;
	background-color: rgba(255, 255, 255, 0.6);
}

.form-group label{
	color: #000;
}

#datos{
	color: #000;
	font-weight: 600;
}

#data{
	color: #000;
	font-weight: 600;
}

.btn-primary{
	margin: 2%;
}